.login {
  padding: 1rem 6rem;
  border-radius: 15px;
  box-shadow: 1px 1px 7px #090909a1;
  height: 150px;
  max-width: 250px;
  text-align: center;
  margin-top: 1rem;
  input {
    height: 1.5rem;
    width: 100%;
    padding: 8px 5px;
    font-size: 18px;
  }

  button {
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    border-style: none;
    background-color: #000;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.488);
    }
  }
}

#loggingIn-btn {
  background-color: rgba(26, 25, 25, 0.796);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.7px;
}
